.dashboard {
  position: sticky;
  top: 0;
}

.user {
  display: flex;
  align-items: center;
  line-height: 0;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  line-height: 1;
  background-color: #dbedff;
  margin: 20px;
  padding: 0 10px;
  border-radius: 10px;
}

.btn-cart {
  width: 85%;
  background-color: #949494;
  border: none;
  border-radius: 10px;
  margin-left: 18px;
}

.btn-cart:hover {
  background-color: yellow;
}

.btn-cart:focus {
  background-color: green;
}
