.intro {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-left: 38px;
}

.intro img {
  width: 50px;
  height: 50px;
}

.subtitle {
  margin-left: 50px;
}

.gym-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 0 50px;
}

.dashboard-container {
  border-radius: 10px;
  background-color: white;
}

@media screen and (max-width: 1100px) {
  .exercise-container {
    grid-row: repeat(2fr, 1);
  }
}

@media screen and (min-width: 400px) {
  .exercise-container {
    grid-column: 1;
  }
}
